.lente1{
	border: 2px solid red;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 100px 100px;
	border-radius: 50%;
	margin: 200px 200px;
	position: absolute;
}
.lente2{
	position: absolute;
	border: 2px solid red;
	background-color: rgb(4, 2, 146);
	color: white;
	display: inline-block;
	padding: 100px 100px;
	border-radius: 50%;
	margin: 200px 600px;
}
.montura{
	position: absolute;
	border: 2px solid red;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 25px 100px;
	margin: 200px 500px;
}
